In [1]:
##IMPORTING LIBRARIES
import pandas as pd
import statistics as stats
import seaborn as sns #visualisation
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy import stats
import scipy as scipy

In [2]:
#read excel file as dataframe
df_ire = pd.read_excel('/Users/Noel/Documents/MSc_CA2/ireland-cattle-prices.xlsx')

In [3]:
df_GB = pd.read_excel('/Users/Noel/Documents/MSc_CA2/gt.-britain-cattle-prices.xlsx')

In [8]:
df_NI = pd.read_excel('/Users/Noel/Documents/MSc_CA2/n.ireland-cattle-prices.xlsx')

In [5]:
df_ire.head()

,Date,Bulls R3 (Ire),Cows O2 (Ire),Cows O3 (Ire),Cows O4 (Ire),Cows P2 (Ire),Cows P3 (Ire),Cows R2 (lre),Cows R3 (Ire),Cows R4 (Ire),...,Steers R4 (Ire),Steers U2 (Ire),Steers U3 (Ire),Steers U4 (Ire),Young Bulls O2 (Ire),Young Bulls O3 (Ire),Young Bulls R2 (Ire),Young Bulls R3 (Ire),Young Bulls U2 (Ire),Young Bulls U3 (Ire)
0,2019-10-28,241.6,255.0,259.2,259.7,228.6,247.7,NaN,279.6,279.3,...,341.3,347.9,352.5,347.3,299.0,303.8,321.6,320.5,330.2,329.8
1,2019-10-14,239.9,264.6,268.3,268.5,235.1,256.0,NaN,288.9,288.0,...,342.1,350.7,353.7,349.1,300.9,305.3,323.7,322.3,332.8,332.3
2,2019-10-07,248.3,270.1,274.2,274.6,242.9,262.0,NaN,296.1,293.7,...,343.9,349.8,353.3,350.4,301.1,306.4,325.7,323.4,337.0,334.6
3,2019-09-30,253.0,277.9,279.9,278.4,252.7,267.1,NaN,298.4,297.1,...,344.3,351.7,356.2,354.0,305.6,309.9,327.5,327.7,336.7,337.1
4,2019-09-16,264.2,283.3,283.9,282.5,257.2,272.6,NaN,302.0,300.1,...,338.1,344.8,347.7,344.1,301.5,309.4,322.0,321.5,328.8,327.8

In [6]:
concatenated = pd.concat([df_ire, df_GB], axis=1)

In [9]:
df = pd.concat([concatenated, df_NI], axis=1)

In [10]:
df.shape

(250, 93)

In [12]:
print(df_ire.isnull().sum())

Date                      0
Bulls R3 (Ire)            0
Cows O2 (Ire)             0
Cows O3 (Ire)             0
Cows O4 (Ire)             0
Cows P2 (Ire)             0
Cows P3 (Ire)             0
Cows R2 (lre)           248
Cows R3 (Ire)             0
Cows R4 (Ire)             0
Heifers O2 (Ire)          1
Heifers O3 (Ire)          1
Heifers O4 (Ire)          0
Heifers R2 (Ire)          1
Heifers R3 (Ire)          1
Heifers R4 (Ire)          1
Heifers U2 (Ire)          1
Heifers U3 (Ire)          1
Steers O3 (Ire)           2
Steers O4 (Ire)           0
Steers R3 (Ire)           0
Steers R4 (Ire)           0
Steers U2 (Ire)           0
Steers U3 (Ire)           0
Steers U4 (Ire)           0
Young Bulls O2 (Ire)      0
Young Bulls O3 (Ire)      0
Young Bulls R2 (Ire)      0
Young Bulls R3 (Ire)      0
Young Bulls U2 (Ire)      1
Young Bulls U3 (Ire)      0
dtype: int64

In [13]:
print(df_GB.isnull().sum())

Date                     0
Bulls R3 (GB)          250
Cows O2 (GB)             0
Cows O3 (GB)             0
Cows O4 (GB)             0
Cows P2 (GB)             1
Cows P3 (GB)             0
Cows R2 (GB)           128
Cows R3 (GB)             1
Cows R4 (GB)             0
Heifers O2 (GB)          0
Heifers O3 (GB)          1
Heifers O4 (GB)          0
Heifers R2 (GB)          0
Heifers R3 (GB)          0
Heifers R4 (GB)          0
Heifers U2 (GB)          2
Heifers U3 (GB)          0
Steers O3 (GB)           0
Steers O4 (GB)           1
Steers R3 (GB)           0
Steers R4 (GB)           0
Steers U2 (GB)           1
Steers U3 (GB)           0
Steers U4 (GB)           0
Young Bulls O2 (GB)      1
Young Bulls O3 (GB)      1
Young Bulls R2 (GB)      1
Young Bulls R3 (GB)      0
Young Bulls U2 (GB)      1
Young Bulls U3 (GB)      1
dtype: int64

In [14]:
print(df_NI.isnull().sum())

Date                     0
Bulls R3 (NI)          250
Cows O2 (NI)             0
Cows O3 (NI)             0
Cows O4 (NI)             0
Cows P2 (NI)             1
Cows P3 (NI)             0
Cows R2 (NI)           245
Cows R3 (NI)             0
Cows R4 (NI)             0
Heifers O2 (NI)          0
Heifers O3 (NI)          1
Heifers O4 (NI)          0
Heifers R2 (NI)          0
Heifers R3 (NI)          0
Heifers R4 (NI)          0
Heifers U2 (NI)          2
Heifers U3 (NI)          0
Steers O3 (NI)           0
Steers O4 (NI)           1
Steers R3 (NI)           0
Steers R4 (NI)           0
Steers U2 (NI)           1
Steers U3 (NI)           0
Steers U4 (NI)           0
Young Bulls O2 (NI)      2
Young Bulls O3 (NI)      1
Young Bulls R2 (NI)      1
Young Bulls R3 (NI)      1
Young Bulls U2 (NI)      3
Young Bulls U3 (NI)      1
dtype: int64

In [15]:
#dropping columns that are mostly empty
to_drop = ['Cows R2 (lre)','Bulls R3 (GB)','Cows R2 (GB)','Bulls R3 (NI)', 'Cows R2 (NI)' ]

In [16]:
df.drop(to_drop, inplace=True, axis=1)

In [17]:
df.shape

(250, 88)

In [18]:
df = df.dropna(how='any',axis=0)

In [19]:
df.shape

(242, 88)

In [20]:
df["Date"]

          Date       Date       Date
0   2019-10-28 2019-10-28 2019-10-28
1   2019-10-14 2019-10-14 2019-10-14
2   2019-10-07 2019-10-07 2019-10-07
3   2019-09-30 2019-09-30 2019-09-30
4   2019-09-16 2019-09-16 2019-09-16
..         ...        ...        ...
245 2015-01-05 2015-01-05 2015-01-05
246 2014-12-29 2014-12-29 2014-12-29
247 2014-12-22 2014-12-22 2014-12-22
248 2014-12-15 2014-12-15 2014-12-15
249 2014-12-08 2014-12-08 2014-12-08

[242 rows x 3 columns]

In [22]:
#drop duplicate date columns
df=df.T.drop_duplicates().T

In [23]:
df.shape

(242, 86)

In [24]:
#adding month column and year column
df['month'] = pd.DatetimeIndex(df['Date']).month
df['year'] = pd.DatetimeIndex(df['Date']).year

In [25]:
df_2019 = df.loc[df['year'].isin([2019])]
df_2018 = df.loc[df['year'].isin([2018])]
df_2017 = df.loc[df['year'].isin([2017])]
df_2016 = df.loc[df['year'].isin([2016])]
df_2015 = df.loc[df['year'].isin([2015])]
df_2014 = df.loc[df['year'].isin([2014])]

In [26]:
df.describe()

            month         year
count  242.000000   242.000000
mean     6.363636  2016.863636
std      3.449698     1.435328
min      1.000000  2014.000000
25%      3.000000  2016.000000
50%      6.000000  2017.000000
75%      9.000000  2018.000000
max     12.000000  2019.000000

In [27]:
x = df["Cows R3 (Ire)"]
y = df["Cows R3 (GB)"]
z = df["Cows R3 (NI)"]

In [28]:
mean_cows_r3_Ire= x.mean()
print(mean_cows_r3_Ire)

331.4880578512395

In [29]:
sd = x.std()
print(sd)

23.447887799767773

In [30]:
#H0 : u = 320
#H1 : u =! 320

stats.ttest_1samp(x,320)

Ttest_1sampResult(statistic=7.6216775229458245, pvalue=5.729779708268559e-13)

In [31]:
#We reject H0 ---> We accept H1, so there is enough evidence to say that the average price is 320 c/kg.

In [32]:
mean_cows_r3_GB= y.mean()
print(mean_cows_r3_GB)

329.53439256198345

In [33]:
sd2 = y.std()
print(sd2)

27.091939386404675

In [34]:
mean_cows_r3_NI= z.mean()
print(mean_cows_r3_NI)

331.0608305785126

In [35]:
sd3 = z.std()
print(sd3)

25.15931731917676

In [36]:
mean_cows_r3_Ire= df_2019["Cows R3 (Ire)"].mean()
print(mean_cows_r3_Ire)

301.3577499999999

In [46]:
sd1_2019 = df_2019["Cows R3 (Ire)"].std()
print(sd1_2019)

11.214842154541541

In [39]:
mean_cows_r3_GB= df_2019["Cows R3 (GB)"].mean()
print(mean_cows_r3_GB)

307.81600000000003

In [41]:
sd2_2019 = df_2019["Cows R3 (GB)"].std()
print(sd2_2019)

14.375473379050684

In [42]:
mean_cows_r3_NI= df_2019["Cows R3 (NI)"].mean()
print(mean_cows_r3_NI)

303.0340000000001

In [43]:
sd3_2019 = df_2019["Cows R3 (NI)"].std()
print(sd3_2019)

8.428440498144916

In [44]:
mean_cows_r3_Ire= df_2015["Cows R3 (Ire)"].mean()
print(mean_cows_r3_Ire)

356.54117647058825

In [47]:
sd1_2015 = df_2015["Cows R3 (Ire)"].std()
print(sd1_2015)

18.50991276554904

In [48]:
mean_cows_r3_GB= df_2015["Cows R3 (GB)"].mean()
print(mean_cows_r3_GB)

366.3443137254902

In [49]:
sd2_2015 = df_2015["Cows R3 (GB)"].std()
print(sd2_2015)

20.92610420072517

In [50]:
mean_cows_r3_NI= df_2015["Cows R3 (NI)"].mean()
print(mean_cows_r3_NI)

364.4800000000001

In [51]:
sd3_2015 = df_2015["Cows R3 (NI)"].std()
print(sd3_2015)

17.310083997485393